- name: Default
  defaultPodTemplatePath: config/pod-default.yaml
  workloadTemplate:
  - opcode: createNodes
    countParam: $initNodes
  - opcode: createPods
    countParam: $initPods
  - opcode: createPods
    countParam: $measurePods
    collectMetrics: true
  workloads:
  - name: 500Nodes
    params:
      initNodes: 500
      initPods: 500
      measurePods: 1000

- name: WasmOnly
  defaultPodTemplatePath: config/pod-default.yaml
  schedulerConfigPath: config/sched-config-wasm-only.yaml
  workloadTemplate:
  - opcode: createNodes
    countParam: $initNodes
  - opcode: createPods
    countParam: $initPods
  - opcode: createPods
    countParam: $measurePods
    collectMetrics: true
  workloads:
  - name: 500Nodes
    params:
      initNodes: 500
      initPods: 500
      measurePods: 1000
  
- name: ExtenderOnly
  defaultPodTemplatePath: config/pod-default.yaml
  schedulerConfigPath: config/sched-config-extender-only.yaml
  workloadTemplate:
  - opcode: createNodes
    countParam: $initNodes
  - opcode: createPods
    countParam: $initPods
  - opcode: createPods
    countParam: $measurePods
    collectMetrics: true
  workloads:
  - name: 500Nodes
    params:
      initNodes: 500
      initPods: 500
      measurePods: 1000

- name: PluginOnly
  defaultPodTemplatePath: config/pod-default.yaml
  schedulerConfigPath: config/sched-config-plugin-only.yaml
  workloadTemplate:
  - opcode: createNodes
    countParam: $initNodes
  - opcode: createPods
    countParam: $initPods
  - opcode: createPods
    countParam: $measurePods
    collectMetrics: true
  workloads:
  - name: 500Nodes
    params:
      initNodes: 500
      initPods: 500
      measurePods: 1000

- name: AllEnabled
  defaultPodTemplatePath: config/pod-default.yaml
  schedulerConfigPath: config/sched-config-all-enabled.yaml
  workloadTemplate:
  - opcode: createNodes
    countParam: $initNodes
  - opcode: createPods
    countParam: $initPods
  - opcode: createPods
    countParam: $measurePods
    collectMetrics: true
  workloads:
  - name: 500Nodes
    params:
      initNodes: 500
      initPods: 500
      measurePods: 1000